<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body id="img-fundo">
    {% extends 'base.html' %}

    {% block content %}

    <div>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
        <div class="link">
            <a href="{{ url_for('home') }}" target="_self">Home</a> |
            <a href="{{ url_for('quemsomos') }}" target="_self">Quem Somos</a> |
            <a href="{{ url_for('contato')}}" target="_self">Contato</a>
        </div>
    </div>
    
    <!--corpo da página img-->
    <div id="img-capa">
        <img src="{{ url_for('static', filename='capa.png') }}" alt="capa" width="100%" height="412px">
    </div>
    <!--corpo da pagina txt-->
    <div>
        <h1>Sobre a Universidade</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptas aliquid magni quam sed sequi exercitationem quia cupiditate dolore quo, rerum reprehenderit excepturi at id ea, et voluptatum, facere nobis!Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime pariatur repellat recusandae incidunt ratione ut quae harum quos aut. Illo minus iusto tempore ea sequi laudantium deleniti fugiat earum suscipit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consectetur esse odit corporis? Ipsam unde, adipisci omnis velit accusamus atque quaerat assumenda dicta, facere autem similique exercitationem cumque ipsum repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi atque natus doloremque recusandae repellendus amet reprehenderit! Exercitationem atque vitae accusantium ipsa laboriosam numquam velit, asperiores, unde, mollitia dolorum qui iure.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo reiciendis et quam dolores. Facilis laborum fuga iure excepturi, expedita in dolores enim qui nihil, obcaecati explicabo neque vitae dolore totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, voluptates voluptate tenetur perspiciatis necessitatibus dignissimos explicabo quo ut neque blanditiis ullam, sed quis animi placeat enim, quidem vel praesentium similique? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore architecto accusamus ipsa corrupti. Nisi error rerum delectus? Distinctio vel veritatis magnam maiores facere modi recusandae alias sit aliquam, explicabo quam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, maxime accusamus temporibus beatae fuga quod sed a soluta non recusandae ullam, et quia corporis. Non distinctio adipisci enim harum impedit.
        </p>


        <p class="f"><b>Todos os direitos reservados.</b></p>
    </div>
    {% endblock %}
</body>
</html>