<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quemsomos</title>
</head>
<body id="img-fundo2"> 
    {% extends 'base.html' %}

    {% block content %}
    <div>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
        <div class="link">
            <a href="{{ url_for('home') }}" target="_self">Home</a> |
            <a href="{{ url_for('quemsomos') }}" target="_self">Quem Somos</a> |
            <a href="{{ url_for('contato')}}" target="_self">Contato</a>
        </div>
    </div>
    <h1>Quem somos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam atque voluptas beatae facilis porro dignissimos veritatis at deleniti excepturi quo, perspiciatis veniam earum aut praesentium enim dolor obcaecati eligendi sint. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam deserunt consequuntur velit quasi ipsa atque illum tempora, perferendis est eum obcaecati voluptates omnis quisquam, minima eaque molestias ratione delectus ea? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic magni fugit et voluptatibus repellendus placeat quisquam neque commodi, officiis nihil accusantium vel aspernatur velit esse at suscipit iste amet! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur beatae accusantium ratione sed ea quo doloremque? Libero, rem saepe praesentium voluptate, inventore veniam laboriosam vel delectus perferendis impedit, corporis similique!</p>
    <h1>5 motivos para estudar</h1>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <hr>
    <h1>Objetivos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vel nisi quas corrupti magnam ducimus cupiditate qui provident tenetur veritatis eligendi, aspernatur velit quos autem adipisci, perferendis error numquam. Neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat fugiat saepe autem deleniti, soluta beatae quod eveniet odit quam illum quisquam et sunt eius, optio mollitia ducimus quidem sint. Aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore minus nostrum sequi, modi ipsam maiores deleniti aspernatur ratione blanditiis ad fuga ipsum quibusdam officia beatae fugit, voluptate libero possimus aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam assumenda sit nisi placeat ducimus, sunt amet, pariatur ab, esse ut impedit ratione! Nemo officiis aperiam accusamus est molestias repudiandae magnam!</p>

    <p class="f"> <b> Todos os direitos reservados.</b></p>
    {% endblock %}
</body>
</html>