<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contato</title>
</head>
<body id="img-fundo2"> 
    {% extends 'base.html' %}

    {% block content %}
    <div>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
        <div class="link">
            <a href="{{ url_for('home') }}" target="_self">Home</a> |
            <a href="{{ url_for('quemsomos') }}" target="_self">Quem Somos</a> |
            <a href="{{ url_for('contato')}}" target="_self">Contato</a>
        </div>
    </div>


    <h1>Entre em contato</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, alias odio fuga veniam voluptatum corrupti.</p><hr>
    <form>
        Seu e-mail:<br>
        <input type="text" name="Seu e-mail:">
        <br> Assunto: <br>
        <input type="text" name="Assunto:">
        <br> Descrição: <br>
        <input type="text" name="Descrição">
        <br>
        <input type="submit" value="Enviar">
    </form>



    <p class="f"><b>Todos os direitos reservados.</b></p>
    {% endblock %}
</body>
</html>