body{
    padding: 0;
    margin: auto;
    width: 70%;
}



#img-fundo{
    background-image: url(fundo.png);
}

#img-fundo2{
    background-image: url(fundo2.png);
}

.link{
    padding-top: 45px;
    float: right;
}

img{
    padding-top: 22px;
}


p{text-align: justify;}

p.f{text-align: center;}



table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  